<% if @tweet.errors.present? %>
<h3>入力内容にエラーがあります。</h3>
<ul>
  <% @tweet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @tweet, url: {action: :create} do |f| %>
    <p><%= f.label :message, '新規Tweet' %></p>
    文章を入力してください。(140文字以内)<br>
    <%= f.text_field :message %>
    <%= f.submit 'つぶやく' %>
<% end %>